{% extends 'base.html' %}

{% block page-title %}Log-In{% endblock %}

{% block title %}SocialNews | Sign-In{% endblock %}

{% block content %}
<form id="login_form" method="post" action="/recommendation_engine/login/">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50"/>
    <br/>
    Password: <input type="password" name="password" value="" size="50"/>
    <br/>

    <input type="submit" value="Sign-In"/>
</form>
<div>
    <p>{{ error_message }}</p>
</div>
{% endblock %}
